#display {
  float: right;
  padding: 50px;
  font-family: sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 20px;
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.image img {
  max-width: 100%;
  height: auto;
}

#display {
  float: right;
  padding: 50px;
  font-family: sans-serif;
  font-size: 20px;
}