/* Styles for text container */
#text-container {
  background-color: #F1F1F1;
  text-align: center;
  padding: 30px;
}

#text-container p {
  font-size: 50px;
}

/* Styles for recipe search */
#recipeSearch {
  margin: 20px;
  text-align: center;
}

#recipeSearchInput {
  padding: 10px;
  width: 50%;
  margin-right: 10px;
}

#recipeSearchSubmit {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
}


#recipes-container {
  display: grid;
  grid-gap: 20px;
  margin: 20px;
}

.recipe {
  background-color: #F1F1F1;
  padding: 20px;
}

.recipe img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.recipe-details {
  text-align: center;
}

.meal-name {
  font-size: 24px;
  margin-bottom: 5px;
}

.meal-category {
  font-size: 18px;
  margin-bottom: 5px;
}


#jumpButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  transform: rotate(45deg);
  padding: 15px;
  border-radius: 4px;
}

#jumpButton {
  background-color: #555;
}
